hr{
  border: 1px solid #777;
}
.ti{
  margin-top: 15px;
  text-align: center;
}
.classes{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.😈{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  visibility: hidden;
}
.classes img{ 
    margin-top: 15px;
    z-index: 1;
    border-radius: 15px;
    margin-left: 10px;
    border: 15px solid #444;
    transition: 0.75s;
    animation: downcenta 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    width: 128px;
    height: 128px;
  }
.classes img:hover{
    transition: 0.75s;
    animation: upcenta 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    border: 15px solid #666;
  }
  @keyframes upcenta {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  }
  @keyframes downcenta {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  }
  .frame-main{
    display: block;
    z-index: 5;
    position: absolute;
    width: 100%;
    height: 94%;
    background: #666;
  }
.hidden {
    display: none;
}
.frame-bar{
    width: 95%;
    background: #000;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border-radius: 24px;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
}
.frame-bar h1{
    width: fit-content;
    padding: 0.5em;
    color: #fff;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}
.frame-bar i{
    float: left;
    width: fit-content;
    padding: 0.5em;
    color: #fff;
    font-size: 22px;
    float: left;
}
.frame-bar #fullscreen{
    float: right;
    padding-right: 30px;
}
.frame-bar #actuallysite{
    float: right;
}
iframe{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
    height: 40rem;
    border: rgba(0, 0, 0, 0.0);
    border-radius: 25px;
    min-width: 75%;
    max-width: 75%;
    min-height: 40rem;
    max-height: 40rem;
    margin-top: -10px;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 450px){
  .classes img{ 
    margin-top: 0;
    z-index: 0;
    margin-left: 0;
    border: none;
    width: 0;
    height: 0;
  }
  .😈{
    visibility: visible;
  }
}