.classes {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.😈 {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  visibility: hidden;
}
.classes div{
  height: fit-content;
  margin-top: 15px;
  z-index: 1;
  border-radius: 24px;
  margin-left: 20px;
  margin-right: 20px;
  border: 15px solid rgba(100, 100, 100, 0.05);
  background-color: rgba(100, 100, 100, 0.5);
  box-shadow: 0 0 5px 2.5px rgba(105,105,105, 0.5);
  transition: 0.75s;
  animation: downcenta 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  width: 158px;
}
.classes img {
  width: 128px;
  height: 128px;
  border-radius: 15px;
}
.classes h1{
  margin-top: 5px;
  text-align: center;
  font-size: 1vw;
}
.classes div:hover {
  transition: 0.75s;
  animation: upcenta 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  border: 15px solid #666;
  background-color: #666;
  cursor: pointer;
}
.frame-main {
  margin-top: -60px;
  display: block;
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 99.6%;
  background: #666;
}
.frame-bar {
  position: absolute;
  width: fit-content;
  padding: 0.5em;
  margin-left: 15px;
  background: rgba(0, 0, 0, 0.4);
  min-height: 15px;
  margin-top: 15px;
  border-radius: 24px;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.3);
  transition: 0s;
}
.frame-bar i {
  float: left;
  line-height: 15px;
  padding: 0.25em;
  margin-right: 2px;
  color: #fff;
  font-size: 25px;
  float: left;
  transition: 0.75s;
}
.frame-bar i:hover {
  color: #777;
  transition: 0.75s;
}
iframe {
  border: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 450px) {
  .classes div {
    display: none;
  }
  .😈 {
    visibility: visible;
  }
}
#panicbuttontext {
  margin-top: 15px;
  text-align: center;
  line-height: 50px;
}
body{
  overflow-x: hidden;
}
.hidden {
  display: none;
}